//Тут все цвета. Добавляем в $colors и используем

$colors: (
  primary-black: #000000,
  button-text: #ffffff,
  title: #7147bc,
  modal-control-background: #673ab7,
);

@function color($key) {
  @if map-has-key($map: $colors, $key: $key) {
    @return map-get($map: $colors, $key: $key);
  }
  @return null;
}