//тут будут все шрифты
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto.ttf");
}
/* comfortaa-700 - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Comfortaa/Comfortaa.ttf");   
}