.gallery{
    padding-bottom: 1.25rem;
    &-loadmore-button{
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 9.1875rem;
        font-family: 'Comfortaa', sans-serif;        
        @include font_style($fsize: 1rem,  $fweight: 400, $ftrans: none, $fcolor: button-text);
        background-color: #cddc39;
        border: none;
        border-radius: 0.7rem;     
        -webkit-border-radius: 0.7rem;
        -moz-border-radius: 0.7rem;
        -ms-border-radius: 0.7rem;
        -o-border-radius: 0.7rem;
         outline: none;
    }
}
.gallery-wrapper{
    @extend %wrapper-sett;
    @media screen and (min-width: 1200px) {
        width: 52rem;
    }
    @media screen and (max-width: 1199px) {
        width: 38rem;
    }
    @media screen and (max-width: 768px){
        width: 25rem;
    }
}
.gallery-title{
    display: none;
    text-align: left;
    vertical-align: top;
    margin-bottom: 0.875rem;
    font-family: 'Roboto', sans-serif;
    @include font_style(1rem, 400, 1rem, none, title);
}
.gallery-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_item{
        flex-basis: 12.125rem;
        margin-bottom: 1rem;
        height: 7.625rem;
        &:hover .item-wrapper{
            opacity: 0;
        }
        &:hover .item-deletebutton{
            opacity: 1;
        }
    }
}
.item{
    &-wrapper{
        position: absolute;
        opacity: 1;
        width: 12.125rem;
        height: 7.65rem;
        background: linear-gradient(rgba(37, 37, 37, 0.5), rgba(51, 51, 51, 0.5));
    }
    &-deletebutton{
        position: relative;
        left: 11.1rem;
        top: 0.35rem;
        opacity: 0;
        cursor: pointer;
        border: none;
        background: transparent;
        background-image: url('../img/gallery/deletebtn.png');
        width: 0.625rem;
        height: 0.625rem;
    }
    &-pic{
        position: relative;
        display: block;
        z-index: -1;
        bottom: 1.1rem;
        left: 0rem;
        width: 12.125rem;
        height: 7.625rem;
    }
    &-img{
        display: block;
        z-index: -1;
        bottom: 1.1rem;
        left: 0rem;
        width: 12.125rem;
        height: 7.625rem;
    }
}